body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #000;
  color: #fff;
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Manrope';
  src:
    local('Manrope'),
    url('./assets/fonts/Manrope/Manrope-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Bricolage Grotesque';
  src:
    local('Bricolage Grotesque'),
    url('./assets/fonts/Bricolage/Bricolage.ttf') format('truetype');
}

#root {
  position: relative;
  min-height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  padding-bottom: 92px;
  padding-left: 110px;
  padding-right: 110px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b6b6b;
}
